<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="<%= image_path 'header-bg.jpg' %>" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1><%= @total_checkins %> trees planted so far</h1>
          <p>Treemo: reforestation, one check-in at a time</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Apple</a> <a class="btn btn-lg btn-primary" href="#" role="button">Play Store</a></p>

        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="<%= image_path 'business.png' %>" alt="Generic placeholder image" width="140" height="140">
      <h2>Business</h2>
      <p>Business purchase credits on the Treemo platform. 10 cents = 1 credit = 1 tree planted</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="<%= image_path 'user.png' %>" alt="Generic placeholder image" width="140" height="140">
      <h2>Users check-in</h2>
      <p>Users check-in via the Treemo App at participating businesses</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="<%= image_path 'weforest.png' %>" alt="Generic placeholder image" width="140" height="140">
      <h2>WeForest.org</h2>
      <p>We will then forward all proceeds to <a href="http://WeForest.org" target="_blank">WeForest.org</a> who will plant 1 tree</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
