<script src="https://checkout.stripe.com/checkout.js"></script>

<div class="table-responsive">
<% if @locations.count > 0 %>
<div class="container-fluid panel-container">
    <div class="col-md-6 text-left">
      <h3><%= pluralize(@locations.count, "location")  %>: <%=  pluralize(@locations.map {|location| location.checkins.count}.inject(:+), "checkin")  %> all time</h3>
    </div>
    <div class="col-md-6  text-right">
      <h3>Current Balance: <span class="label label-default"><%= number_to_currency(@balance, :unit => "£") %></span></h3>
    </div>

</div>
<%= content_tag_for(:tr, @locations) do |location| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container-fluid panel-container">
        <div class="col-xs-6 text-left">
          <h2 class="panel-title"><%= location.name %> <small>(<%= pluralize(location.checkins.count, "checkin") %> total last 30 days)</small></h2>
        </div>
        <div class="col-xs-3 col-md-offset-3 text-right">
           <%= link_to 'Edit', edit_location_path(location) %>
        </div>
      </div>
    </div>
  <div class="panel-body">
    <%= area_chart location.checkins.group_by_day(:created_at).count %>
  </div>
  </div>
  <% end %>

  <div class="container-fluid panel-container">
      <div class="col-md-6 col-md-offset-3 text-center">
        <%= link_to(" Add another location", new_location_path, class: "btn btn-lg btn-success")%>
        <button id="customButton" class="btn btn-lg btn-primary">Get 500 credits for £100 >></button>
      </div>
    </div>




<% else %>
<div class="jumbotron" id='add-location'>
<h1>Are you a business owner?</h1>
<p class="lead">Register your business location with Treemo so your customers can start checking-in.</p>
<p><%= link_to(" Add a location now >>", new_location_path, class: "btn btn-lg btn-success", id: 'add-location-button')%> </p>

</div>



<% end %>





  </div>

  <script>
  var handler = StripeCheckout.configure({
    key: "<%= Rails.configuration.stripe[:publishable_key] %>",
    image: "<%= image_path 'treemo-logo.png' %>",
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Treemo App',
      description: '500 credits',
      currency: "gbp",
      amount: 10000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
  </script>
