<div class="table-responsive">


<% if @locations.count > 0 %>

<h3><%= pluralize(@locations.count, "location")  %> total <small><%=  pluralize(@locations.map {|location| location.checkins.count}.inject(:+), "checkin")  %> all time</small></h3>
<%= content_tag_for(:tr, @locations) do |location| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container-fluid panel-container">
        <div class="col-xs-6 text-left">
          <h2 class="panel-title"><%= location.name %> <small>(<%= pluralize(location.checkins.count, "checkin") %> total last 30 days)</small></h2>
        </div>
        <div class="col-xs-3 col-md-offset-3 text-right">
           <%= link_to 'Edit', edit_location_path(location) %>
        </div>
      </div>
    </div>
  <div class="panel-body">
      <%= area_chart location.checkins.group_by_day(:created_at).count %>
  </div>
  </div>
  <% end %>
  <p><%= link_to(" Add another location", new_location_path)%>

<%= form_tag charges_path do %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-name="Treemo App"
          data-currency="gbp"

          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="500 Credits"
          data-amount="10000"
          data-label="Get 500 credits for £100"
          data-bitcoin="true"></script></p>
<% end %>

<% else %>
<div class="jumbotron" id='add-location'>
<h1>Are you a business owner?</h1>
<p class="lead">Register your business location with Treemo so your customers can start checking-in.</p>
<p><%= link_to(" Add a location now >>", new_location_path, class: "btn btn-lg btn-success", id: 'add-location-button')%></p>

</div>



<% end %>





  </div>
