

<div class="table-responsive">
<% if @locations.count > 0 %>
<div class="container-fluid panel-container">
    <div class="col-md-6 text-left">
      <h3><%= pluralize(@locations.count, "location")  %>: <%=  pluralize(@locations.map {|location| location.checkins.count}.inject(:+), "checkin")  %> all time</h3>
    </div>
    <div class="col-md-6  text-right">
      <h3>Current Balance: <span class="label label-default"><%= number_to_currency(@balance, :unit => "£") %></span></h3>
    </div>

</div>
<%= content_tag_for(:tr, @locations) do |location| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container-fluid panel-container">
        <div class="col-xs-6 text-left">
          <h2 class="panel-title"><%= location.name %> <small>(<%= pluralize(location.checkins.count, "checkin") %> total last 30 days)</small></h2>
        </div>
        <div class="col-xs-3 col-md-offset-3 text-right">
           <%= link_to 'Edit', edit_location_path(location) %>
        </div>
      </div>
    </div>
  <div class="panel-body">
    <%= area_chart location.checkins.group_by_day(:created_at).count %>
  </div>
  </div>
  <% end %>

  <div class="container-fluid panel-container">
      <div class="col-md-6 col-md-offset-3 text-center">
        <p>





        <%= form_tag charges_path do %>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-image="<%= image_path 'treemo-logo.png' %>"
          data-name="Treemo App"
          data-label="Buy 500 credits for £100"
          data-description="500 credits"
          data-currency="gbp"
          data-amount="10000">
        </script>

        <% end %>
        </p>
        <p>
        <%= link_to(" Add another location", new_location_path )%>
        </p>

      </div>
    </div>




<% else %>
<div class="jumbotron" id='add-location'>
<h1>Are you a business owner?</h1>
<p class="lead">Register your business location with Treemo so your customers can start checking-in.</p>

<p><%= link_to(" Add a location now >>", new_location_path, class: "btn btn-lg btn-success", id: 'add-location-button')%> </p>

</div>



<% end %>





  </div>
