<div class="page-header">
  <%= link_to locations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_location_path(@location), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show location</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @location.user.name %></dd>
  <dt>Facebook:</dt>
  <dd><%= @location.facebook_id %></dd>

  <dt>Name:</dt>
  <dd><%= @location.name %></dd>

  <dt>Lat:</dt>
  <dd><%= @location.lat %></dd>

  <dt>Lng:</dt>
  <dd><%= @location.lng %></dd>

</dl>
